img,
legend {
    border: 0
}

body,
figure {
    margin: 0
}

body,
mark {
    color: #000
}

.answer,
.centerIt {
    text-align: center
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

a {
    background: 0 0
}

a:focus {
    outline: dotted thin
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

.checkItem,
textarea {
    overflow: auto
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    padding: 0
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

.answer,
.name,
.profile {
    cursor: pointer
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    font-family: Roboto, sans-serif;
    font-size: 13px;
}

#wrapper {
    max-width: 640px;
    margin: 0 auto
}

.topLegal {
    font-size: 14px;
    margin: 3px auto
}

#questionWrapper {
    padding: 15px
}

.main-content {
    padding: 10px;
    /* background-color: #FFF!important; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.main-content p {
    font-size: 13px
}

.main-content h1 {
    font-size: 20px
}

.header,
.prize-date {
    font-size: 18px
}

.main-content h2 {
    font-size: 18px;
    font-weight: 400
}

hr {
    border: 1px solid #FFF;
    color: #FFF;
    margin: 0;
    padding: 0
}

.comments {
    /* background-color: #eeeff4;
    border-bottom: 2px solid #FFF; */
    padding: 10px
}

.profile {
    float: left;
    width: 60px;
    margin-right: 10px;
}

.comment-content img,
.profile img {
    width: 100%;
}

.name {
    font-weight: 700;
    color: #3b5998;
    margin: 0
}

.comment-content {
    float: left;
    /* width: 190px */
}

.clr {
    clear: both
}

.header {
    margin: 20px auto
}

.header b {
    color: #9a794a
}

span.color {
    color: #fdbb1c;
}

.intro {
    font-size: 13px
}

.giftcard {
    max-width: 100%;
    margin: 0 auto
}

.answer {
    background-color: #146F40;
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 8px 0;
    margin: 8px 0;
    text-decoration: none;
    border-radius: 6px
}

.answer:hover {
    opacity: .8
}

.answer:active {
    position: relative;
    top: 1px
}

.btnYes {
    color: #fff;
    background: #00AF00;
    border-bottom: 3px solid #080
}

.btnNo {
    color: #fff;
    background: #D62A14;
    border-bottom: 3px solid #A2200F
}

.check,
.question,
.result {
    display: none
}

.checkItem,
img.loader {
    clear: both;
    display: block
}

.lastMargin {
    height: 5px
}

img.loader {
    margin: 5px 0 15px 5px
}

.check {
    clear: both
}

.checkItem img {
    float: left;
    margin-right: 10px
}

.checkItem h3 {
    float: left;
    margin: 0
}

.centerIt {
    margin: 125px auto 0
}

.centerIt a {
    margin: 0 auto
}

.overlay-checker {
    display: none;
    background: #000;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    color: #fff;
    font-size: 35px;
    font-weight: 700
}

.overlay-checker-points {
    max-width: 700px;
    font-size: 20px;
    padding: 0
}

.overlay-checker-points li {
    list-style: none
}

.overlay-checker-points li img {
    height: 21px
}

.terms {
    font-size: 12px;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0
}





html {
     background: #00ff88; 
}
body {
    background: #00ff88;
    background: linear-gradient(#0700b8 0%, #00ff88 100%);
    background-repeat: no-repeat;
}
#wrapper {color: #fff;}
*, ::after, ::before{box-sizing: border-box; position: relative;}
.answer {border: 1px solid #fff; border-radius: 20px; margin-bottom: 15px;}
a.answer:nth-of-type(1) {
  background: #503EED;
}
a.answer:nth-of-type(2) {
  background: #A61BDB; 
}
a.answer:nth-of-type(3) {
  background: #E04949; 
}
a.answer:nth-of-type(4) {
  background: #F67F30;
}
.question > p { text-align: center; color: #fff; font-size: 18px; font-weight: 700;}
.counter_wrapper {padding-top: 60px;}
.progress_wrapper {padding-top: 15px; padding-bottom: 15px; display: -ms-flexbox; display: flex; flex-wrap: wrap; width: 100%;
    justify-content: center;
}
.t-dot {
    position: relative; width: calc(100% /4);
}
.t-dot div.t-primary {
    background-color: #b3b5bb;
    box-shadow: 0 10px 20px -10px #1b55e2;
}
#one {background-color: #1b55e2;}
 .t-dot div {
    background: #1b55e2;
    border-radius: 50%;
    padding: 5px;
    margin-right: 11px;
    display: flex;
    height: 37px;
    justify-content: center;
    width: 36px; z-index: 5;
}
 .t-dot:after {
    content: '';
    position: absolute;
    border-width: 1px;
    border-style: solid;
    left: 30px;
    border-color: #bfc9d4;
    width: 100%;
    height: auto;
    top: 20px;
}
div.t-dot:nth-of-type(4) {
    border: 0; width: 0;
}
.question_count {font-size: 14px; float: right;}
.comments {display: -ms-flexbox; display: flex; flex-wrap: wrap; width: 100%;}
.comment-content {flex: 1;}
.comment-content .name {font-weight: 700; color: #f8f8ff;
    /* text-shadow: 0 3px 0 #b2a98f,0 14px 10px rgba(0,0,0,0.15), 0 24px 2px rgba(0,0,0,0.1), 0 34px 30px rgba(0,0,0,0.1); */
}
.profile img {
    border-radius: 50px;
}
@media (max-width:767.99px) {
    .comments.comment-heading {width: 100%; margin-bottom: 20px; text-align: center;}
}
@media (min-width:400px) and (max-width:767.99px) {
    

    .answer_rapper {display: flex; flex-wrap: wrap; width: 100%; box-sizing: border-box;}
  .answer_rapper a {width: calc(50% - 15px);}
    a.answer:nth-of-type(1) {
        margin-right: 15px;
     }
     a.answer:nth-of-type(2) {
       margin-left: 15px;
     }
     a.answer:nth-of-type(3) {
       margin-right: 15px;
     }
     a.answer:nth-of-type(4) {
       margin-left: 15px;
     }
}

@media (min-width:500px) and (max-width:767.99px) {
    .comments {width: 50%; float: left;}
}
@media (min-width:768px) {
    #wrapper {display: flex; flex-wrap: wrap; width: 100%; box-sizing: border-box; max-width: 1100px;}
    .main-content { width: 30%;}
    #questionWrapper {width: 70%; padding-right: 60px;}
    a.answer:nth-of-type(1) {
         margin-right: 15px;
      }
      a.answer:nth-of-type(2) {
        margin-left: 15px;
      }
      a.answer:nth-of-type(3) {
        margin-right: 15px;
      }
      a.answer:nth-of-type(4) {
        margin-left: 15px;
      }
  .answer_rapper {display: flex; flex-wrap: wrap; width: 100%; box-sizing: border-box;}
  .answer_rapper a {width: calc(50% - 15px);}
}